@charset "UTF-8";

/* CSS Document */
/*VIDEO TOUR X TUTTO-------------------------------------------------------------------------------*/
@media (min-width: 300px) and (max-width: 3840px) {
  .videotourresponsive {
    width: 100%;
  }
}

/* CART PHONE-------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  #coverVideo {
    max-height: 100%;
}

  .illustration-numbers {
    position: absolute;
    left: 5%;
    top: 25%;
    z-index: 1;
    width: 40%;
}
.illustration-numbers2 {
    position: absolute;
    z-index: 1;
    left: 124%;
    top: -130px;
}
  .container {
    padding: 0% 0%;
  }
.container-cicloproduzione {
    padding: 0% 0%;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1rem;
  }

  .margin-top50 {
      margin-top: -360px;
  }

  .modal-content {
    width: 90%;
  }

  closemodal {
    left: 87%;
  }

  .telephonenumber {
    color: black;
  }

  .telephonenumber:hover, .telephonenumber:active {
    color: black;
  }

  #CategoryContainer {
    margin-top: -120px;
  }

  /* usciva nel telefono del nero */
  .box {
    width: 100px;
    height: auto;
  }

  .box:hover {
    width: 270px;
  }

  .box:hover {
    flex: 1 1 30%;
  }

  .whiteBack {
    margin-top: -2px;
    background-color: #FFFFFF;
  }

  .video-step-responsive {
    width: 100%;
    height: 350px;
  }

  .container {
    display: inline-block;
  }
    .container-cicloproduzione {
      display: inline-block;
    }

  .cartelement {
    padding-bottom: 70px;
  }

  .bar-menu-right {
    margin-top: 0.5rem;
    font-size: 18px;
  }

  .credits-website {
    text-align: left;
  }

  #main-content {
    margin-bottom: 400px;
    z-index: 2;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
  }

  .menu-text {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    /* font-size: 33px; */
    font-size: 27px;
    line-height: 43px;
    text-align: left;
    transition: 0.1s;
  }

  .overlay a {
    padding: 3px;
  }

  li::before {
    width: 25px;
    left: -15px;
    background: #72BF9A;
    height: 1px;
    /* width: 30px; */
    position: absolute;
    /* left: -30px; */
    bottom: 20px;
  }

  .about {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .price {
    font-size: medium;
    padding-left: 0px;
  }

  .quantity-label {
    margin-left: 7px;
  }

  .Qty {
    font-size: medium !important;
  }

  a.purchasebtn {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 84%;
  }

  a.purchasebtn:hover {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 84%;
  }
}

/*MORALIST PAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .cartcontent {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*The X btn*/
  a.closebtn {
    padding-left: 30px;
  }

}

/*MORALIST PAGE TABLET----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .illustration-numbers {
      position: absolute;
      left: 1%;
      top: 10%;
      z-index: 1;
      width: 100%;
  }
  .illustration-numbers2 {
      position: absolute;
      z-index: 1;
      left: 484%;
      top: -245px;
  }
  .telephonenumber {
    color: black;
  }

  .telephonenumber:hover, .telephonenumber:active {
    color: black;
  }

  .image-tablet-100 {
    width: 100%;
    height: auto;
  }

  .presentationDescrTitle {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 0rem;
  }

  .presentationDescrTitle2 {
    font-size: 24px;
    line-height: 2.2rem;
  }

  .presentationDescr2 {
    font-size: 14px;
    line-height: 1.7rem;
  }

  .cartcontent {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }

  /*The X btn*/
  a.closebtn {
    padding-left: 40px;
  }
}

/*HOMEPAGE PHONE landscape-----------------------------------------------------------------------------*/
/* Landscape */
/* @media and (max-width: 576px) and (orientation: landscape)  { */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

  #coverVideo {
    max-width: 100%;
}

  .dropdownTxt {
    font-size: 16px;
  }
  .cover {
    padding-top: 0%;
}

  .container {
    width: 100%;
  }
  .container-cicloproduzione{
    display: inline-block;
  }

  .container {
    width: 100%;
    height: 127vh;
    max-width: 1000px;
  }
  .container-cicloproduzione{
    width: 100%;
    height: 127vh;
    max-width: 1000px;
  }

  .padding50 {
    padding-bottom: 120%;
  }

  .categoryBt-border {
    margin-top: 60px;
  }

  .cover {
    padding-top: 5rem;
  }

  .margin-botton-audio {
    margin-top: 0%;
  }

  #CategoryContainer {
    margin-top: 0px;
    padding-top: 0rem;
  }

  .margin-hundred {
    margin-left: 20px;
    margin-right: 20px;
  }

  .categoryBt-text {
    font-size: 25px;
    line-height: 30px;
  }

  .categoryBt-border {
    height: 140px;
  }

  #CategoryContainer {
    height: 190vh;
  }

  .map {
    height: 90%;
  }

  #section-contacts {
    height: 120vh;
  }

  #main-content {
    margin-bottom: 390px;
  }

  .menu-text {
    font-size: 28px;
    line-height: 2.4rem;
  }

  .overlay-content {
    margin-top: 0px;
  }

  .margin-botton-categories {
    margin-top: 6%;
  }

  .sticky {
    top: 0rem;
  }

  .categoryDescr {
    width: 350px;
    height: 140px;
  }

  .margin-top-cards2 {
    margin-top: 10%;
  }

  .margin-top-cards3 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .margincards {
    margin-bottom: 0px;
  }

  .margin-top-cards4 {
    margin-top: 10%;
  }

  .title-description-produzione {
    margin-top: 0%;
  }

  .text-description-produzione {
    margin-top: 0%;
  }

  #PhotoGallery {
    height: 160vh;
  }

  #coverpage-2 {
    height: 200vh;
  }

  .whiteBack {
    margin-top: -1px;
  }

  .text-contact-title {
    font-size: 50px;
    line-height: 4rem;
  }

  .cover-2 {
    padding-top: 4rem;
  }

  .contact-info-margin {
    margin-top: -35%;
  }

  .menu-text-switch {
    font-size: 18px;
    line-height: 2rem;
  }
}

@media only screen and(max-width: 576px)and (orientation: landscape) {
  .dropdownTxt {
    font-size: 16px;
  }

  .categoryBt-border {
    margin-top: 60px;
  }

  .cover {
    padding-top: 4rem;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #CategoryContainer {
    padding-top: 6rem;
  }
  .whiteBack {
    margin-top: -1px;
  }

  .presentationDescrTitle {
    font-size: 24px;
    line-height: 38px;
  }

  .presentationDescr {
    font-size: 16px;
    line-height: 1.7rem;
  }

  .cover {
    padding-top: 30rem;
  }

  .margin-botton-audio {
    margin-top: 50%;
  }

  #SWIM {
    margin-top: 60px;
    margin-left: 250px;
  }

  #CategoryContainer {
    padding-top: 20rem;
  }

  .margin-botton-categories {
    margin-top: 45%;
  }

  #section-contacts {
    height: 60vh;
  }

  .number60 {
    font-size: 8rem;
  }

  .number45 {
    font-size: 3.8rem;
  }

  .margincards {
    margin-bottom: 0px;
  }
  .illustration-numbers2 {
      position: absolute;
      z-index: 1;
      left: 90%;
      top: -220px;
  }
  .illustration-numbers {
      position: absolute;
      left: -2%;
      top: 5%;
      z-index: 1;
      width: 100%;
  }
  .number {
      margin-left: 25%;
      margin-left: -30%;
      margin-top: 0%;
  }

  .margin-top-cards2 {
    margin-top: 10%;
  }

  .margin-top-cards3 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .margin-top-cards4 {
    margin-top: 10%;
  }

  .title-description-produzione {
    margin-top: -70%;
  }

  .text-description-produzione {
    margin-top: -124%;
  }
}

/*HOMEPAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .icon-down-home {
    margin-top: -28px;
  }
  .overlay {
    border-radius: 0px 200px 0px 0px;
  }

  .margin-fifty {
    margin-left: 10px;
    margin-right: 10px;
  }

  .margin-hundred {
    margin-left: 10px;
    margin-right: 10px;
  }

  /*azienda agricola*/
  .number {
    margin-left: 0%;
    margin-top: -120%;
  }

  .section-title-sans-black-mail {
    color: #000;
  }
  .icon-small {
    font-size: 35px;
  }
.icon-small2 {
    font-size: 40px;
  }
  .section-title-sans{
    font-weight: 400;
    font-size: 15px;
  }

  #DescriptionAzienda {
    padding-top: 0px;
  }

  .number45 {
    margin-left: -40%;
    font-size: 6rem;
    margin-top: -50%;
  }

  .carousel-phone-img {
    height: 200px;
    width: 100%;
  }

  .image-fluid {
    width: 100%;
  }

  .presentationDescr {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6rem;
    text-align: left;
    color: black;
  }

  .presentationDescrTitle {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 2.8rem;
    text-align: left;
    margin-top: 2rem;
    color: black;
  }

  .presentationDescr2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4rem;
    text-align: left;
    color: black;
  }

  .presentationDescrTitle2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 2rem;
    text-align: left;
    margin-top: 6rem;
    color: black;
  }

  .padding-phone {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .categoryDiv-colt {
    margin-top: 13rem;
  }

  .zero-padding-phone {
    padding-right: 0px;
    padding-left: 0px;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -15%;
    left: 0;
  }

  .title-description-produzione {
    margin-top: -75%;
  }

  .text-description-produzione {
    margin-top: -45%;
  }

  #coverpage-2 {
    height: 180vh;
  }

  .cover-2 {
    padding-top: 6rem;
  }

  .map-contact {
      height: 300px;
      border-radius: 0px 0px;
  }

    .map{
        border-radius: 0px 0px;
    }

  .text-contact-title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 4rem;
    text-align: left;
    color: black;
  }

  .section-title-sans-black {
    font-size: 18px;
    color: black;
  }

  .contact-info-margin {
    margin-top: 10%;
  }

  /*produzione*/
  /*barra navigazione*/
  .bar-menu {
    margin-top: 0.5rem;
    /* padding-right: 0.2rem; */
    font-size: 18px;
  }

  #set-jetters-logo {
    width: 100px;
  }

  /*le nostre coltivazioni*/
  .margin-top-cards2 {
    margin-top: 10%;
  }

  .margin-top-cards3 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .margin-top-cards4 {
    margin-top: 10%;
  }

  #icon-backpack {
    padding-right: 10px;
  }

  /*cover video*/
  .cover {
    padding-top: 11rem;
  }

  #main-title {
    font-size: 50px;
    line-height: 4rem;
  }

  #main-subtitle {
    font-size: 28px;
  }

  /*category*/
  .section-title {
    margin-top: 2%;
    /* font-size: 28px; */
    font-size: 30px;
    font-weight: 500;
  }

  #CategoryContainer {
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px;
  }

  .categoryBt {
    font-size: 35px;
    font-weight: 400;
    width: 100%;
    height: 170px;
    line-height: 45px;
    padding: 30px 50px 30px 50px;
    line-height: 100px;
    color: #F39200;
    border: 5px solid #F39200;
  }

  #section-contacts {
    height: 120vh;
  }

  .categoryBt-border {
    text-align: center;
    vertical-align: middle;
    width: 320px;
  }

  .categoryDescr {
    display: none;
    width: 100%;
    margin-top: 0rem;
  }

  .dropdownTxt {
    font-size: 15px;
    opacity: 1;
    display: none;
  }

  /*principles*/
  .principle-text {
    margin-top: 0rem;
    font-size: 15px;
    line-height: 22px;
  }

  .icon-principle {
    height: 60px;
  }

  .single-principle {
    margin-top: 3rem;
  }

  /*footer*/
  .about {
    margin-bottom: 2rem;
  }

  .contact {
    margin-bottom: 3rem;
  }

  .newsletter {
    margin-bottom: 0rem;
  }

  #subscribe {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .box:hover>img {
    width: 100%;
    height: 100%;
    max-height: 270px;
  }

  .box {
    Transition: .0s;
  }
}

/*HOMEPAGE TABLET----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  #main-content {
    margin-bottom: 360px;
  }

  .credits-website {
    text-align: left;
  }

  .margin-hundred {
    margin-left: 25px;
    margin-right: 25px;
  }

  #section-contacts {
    height: 75vh;
  }

  .margin-fifty {
    margin-left: 25px;
    margin-right: 25px;
  }

  /*barra navigazione*/
  #set-jetters-logo {
    width: 100px;
  }

  /*cover video*/
  .cover {
    padding-top: 25%;
  }

  #main-title {
    font-size: 80px;
    line-height: 6rem;
  }

  #main-subtitle {
    font-size: 45px;
  }

  /*category*/
  #CategoryContainer {
    padding-top: 130px;
    padding-bottom: 150px;
    height: auto;
  }

  .categoryBt {
    font-size: 35px;
    font-weight: 400;
    width: 100%;
    height: 170px;
    line-height: 45px;
    padding: 30px 50px 30px 50px;
    line-height: 100px;
    color: #F39200;
    border: 5px solid #F39200;
  }

  .zero-padding-phone {
    padding-right: 0px;
    padding-left: 0px;
  }

  .categoryBt-border {
    text-align: center;
    vertical-align: middle;
    width: 320px;
  }

  .categoryDiv {
    margin-top: 14rem;
    width: 100%;
    position: relative;
    color: #fff;
  }
  .categoryDiv-ipad {
    margin-top: 1rem;
    margin-left: 11rem;
  }

  .number {
    margin-left: -30%;
    margin-top: 100%;
  }

  .carousel-indicators {
    bottom: -10%;
  }

  .categoryDescr {
    display: none;
    width: 100%;
    margin-top: 0rem;
  }

  .margin-top-cards2 {
    margin-top: 10%;
  }

  .margincards {
    margin-top: 10%;
  }

  .margin-top-cards3 {
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .margin-top-cards4 {
    margin-top: 10%;
  }

  .box {
    max-height: 400px;
  }

  .title-description-produzione {
    margin-top: -80%;
  }

  .text-description-produzione {
    margin-top: -72%;
  }

  .menu-text {
    font-size: 50px;
  }

  .overlay-content {
    top: 25%;
  }

  /*footer*/
  #subscribe {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }

  .whiteBack {
    margin-top: -1px;
  }
}

/*HOMEPAGE TABLET IPAD-----------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {

  /*footer*/
  .newsletter {
    margin-top: 1rem;
  }
}

/*VIDEO HOME PAGE PHONE----------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .margin-botton-audio {
    margin-top: 23%;
    padding-right: 0%;
  }
}

/*VIDEO HOME PAGE TABLET----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .margin-botton-audio {
    margin-top: 58%;
    padding-right: 0%;
  }
}

/*VIDEO HOME PAGE TABLET IPAD----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
  .margin-botton-audio {
    margin-top: 38%;
    padding-right: 0%;
  }
}

/*VIDEO HOME PAGE PROIETTORE----------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1400px) {
  .margin-botton-audio {
    margin-top: 20%;
    padding-right: 0%;
  }
}

/*CATEGORY PAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {

  /*left-side*/
  .category-title {
    font-size: 45px;
    line-height: 3.5rem;
  }

  .category-text {
    font-size: 16px;
  }

  .category-choose a {
    font-size: 16px;
  }

  /*cards*/
  .margincards {
    margin-bottom: 0px;
  }

  .category-cards {
    margin-top: 5rem;
  }
}

/*CATEGORY TABLET----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

  /*left-side*/
  .category-title {
    font-size: 45px;
    line-height: 3.5rem;
  }

  .category-text {
    font-size: 16px;
  }

  .category-choose a {
    font-size: 14px;
  }

}

/*CATEGORY PROIETTORE----------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1400px) {
  p.price {
    float: left;
    display: block;
    text-align: right;
    padding-right: 0px;
    margin-bottom: 0px;
    font-weight: 500;
  }

  .serietitle {
    display: block;
    margin-bottom: 7px;
  }

  h5 {
    font-size: 17px;
  }
}

/*SINGLE TOUR PAGE PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {

  /*Change category btn*/
  .menucategory {
    padding: 3px 7px;
  }

  .currentcategory {
    padding: 3px 7px;
  }

  p:hover .extra {
    display: none;
  }

  /*Text description*/
  #tot-price {
    display: block;
    float: none;
    margin-top: 1.5rem;
  }

  .btn-detail {
    display: inline-block;
    margin-top: 1rem;
  }

  /*Add to cart btn*/
  .addcart-btn {
    margin-top: 2rem;
    margin-left: 0px;
  }

  .weekdays li {
    width: 12.5%;
    font-size: 20px;
  }

  .days li {
    width: 12.5%;
  }

  /*Tour quantity*/
  .dropbtn {
    width: 60px;
  }

  .dropdown-content {
    width: 60px;
  }

  .margincards-singletour {
    margin-bottom: 2rem;
  }

  .category-all {
    margin-bottom: 5rem;
  }

  /*Reviews*/
  #reviews {
    margin-bottom: 5rem;
  }

  .marginbottom-review {
    margin-bottom: 2rem;
  }

  .hideContent {
    height: 17.4em;
  }
  .carousel-margin-phone {
    margin-right: 30px;
    margin-left: 30px;
  }
  .principles {
    padding-top: 50px;
}
.padding50 {
    padding-bottom: 40%;
}
.closemodal {
    left: 86%;
}
  .hide-text-cards p, .hide-text-cards i {
    display: none !important;
  }

  .freccia {
    margin-top: 3rem;
    width: 15px;
  }

  .hidden-arrow-desktop {
    display: block;
  }

  .hidden-arrow-mobile {
    display: none;
  }
}

/*SINGLE TOUR PAGE TABLET-----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .closemodal {
      left: 76%;
  }
  /*Reviews*/
  .hideContent {
    height: 17.2em;
  }

  /*Carousel*/
  .freccia {
    margin-top: 120px;
  }
}

/*SINGLE TOUR PAGE TABLET IPAD-----------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {

  /*Carousel*/
  /* .freccia {
         margin-top: 430px;
    } */
  /*Reviews*/
  .marginbottom-review {
    margin-bottom: 2rem;
  }
}

/*SINGLE TOUR PAGE PROIETTORE----------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1400px) {

  /*Reviews*/
  .hideContent {
    height: 17.2em;
    /* 20.4em*/
    /* 18.9em*/
  }
}

/*ABOUT PHONE-----------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .margin-fifty {
    margin-left: 10px;
    margin-right: 10px;
  }

  .margin-hundred {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about-margin {
    margin-left: 10px;
    margin-right: 10px;
  }

  .fixed {
    position: relative;
  }

  .textabout {
    margin-top: 0rem;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
  }

  .carousel-margin-about {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
  }

  .centeredtextabout {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .centeredtextabout2 {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .centeredtextabout3 {
    position: absolute;
    top: 80%;
    left: 39%;
    transform: translate(-50%, -50%);
  }

  .textabout {
    margin-top: 0rem;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .textabout2 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    text-align: right;
  }

  .textabout3 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    text-align: right;
  }
  .descriptionabout {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
  }

  .descriptionabout-margin {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }

  .about-distance-protocol {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .category-cardsorange-mobile {
    display: block;
  }

  .category-cardsorange {
    display: none;
  }
}

/*OLD ABOUT FOOTER----------------------------------------------------------------------------*/
/* Mobile */
@media (max-width: 576px) {

  /*general*/
  /* .mobile-padding {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 3rem;
  } */

  ul {
    list-style: none;
    font-size: 15px;
  }

}

/*ABOUT TABLET-----------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .margin-fifty {
    margin-left: 25px;
    margin-right: 25px;
  }

  .about-margin {
    margin-left: 10px;
    margin-right: 10px;
  }

  .fixed {
    position: relative;
  }

  .textabout {
    margin-top: 0rem;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
  }

  .carousel-margin-about {
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 50px;
  }


  .centeredtextabout {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .centeredtextabout2 {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .centeredtextabout3 {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .textabout {
    margin-top: 0rem;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
  }

  ul {
    list-style: none;
    font-size: 20px;
    padding-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  #image-about {
    /* width: 500px; */
    height: 375px;
    /* margin-right: 1.25rem; */
    opacity: 1;
    padding-bottom: 10%;
  }
  .descriptionabout {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    /* text-align: right; */
  }
}

/*ABOUT PAGE TABLET IPAD-----------------------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
  .carousel-margin-about {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
  }
  .centeredtextabout2 {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .centeredtextabout3 {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

/* CART MEGA SCHERMO -------------------------------------------------------*/
@media (min-width: 3500px) {
  .cartcontent {
    padding-right: 100px;
    padding-left: 100px;
  }

  .sidenav .closebtn {
    font-size: 140px;
    padding-left: 100px;
  }

  a.closebtn+h3 {
    margin-top: 100px;
    font-size: 90px;
    margin-bottom: 40px;
  }

  div.crop-img-div>img {
    max-width: 90%;
  }

  .h5-cart {
    font-size: 65px;
  }

  .sidenav a.cartelement-x {
    font-size: 120px;
  }

  .dropbtn, .dropbtn-cart {
    height: 85px;
    width: 105px;
    font-size: 50px;
    border: 4px solid;
  }

  .dropdown-content, .dropdown-content-cart {
    width: 105px;
    font-size: 50px;
    border: 4px solid;
  }
}

/*MEGA SCHERMO HOME----------------------------------------------------------------------------*/
@media (min-width: 3500px) {

  /*barra navigazione*/
  #loader {
    width: 3840px;
    height: 2700px;
    background: none repeat scroll 0 0 #000;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .margin-fifty {
    margin-left: 100px;
    margin-right: 100px;
  }

  .margin-hundred {
    margin-left: 200px;
    margin-right: 200px;
  }

  .nav-bar {
    padding-top: 55px;
    height: 200px;
  }

  #set-jetters-logo {
    width: 250px;
  }

  #icon-behindscene {
    height: 80px;
    margin-left: 3rem;
  }

  #icon-backpack {
    height: 80px;
    margin-left: 3rem;
  }

  .bar-menu {
    margin-top: 0.5rem;
    font-size: 40px;
    font-weight: 500;
  }

  /*cover video*/
  #main-title {
    font-size: 200px;
    font-weight: 800;
    line-height: 15rem;
  }

  #main-subtitle {
    font-size: 100px;
    font-weight: 800;
    color: #F39200;
  }

  .cover {
    padding-top: 47rem;
  }

  /*category section*/
  #CategoryContainer {
    margin-top: 0px;
    padding-top: 600px;
  }

  .section-title {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 150px;
  }

  .categoryBt {
    font-size: 70px;
    font-weight: 500;
    width: 700px;
    margin-bottom: 0rem;
    padding: 30px 50px 30px 50px;
    line-height: 100px;
    color: #F39200;
    border: 5px solid #F39200;
  }

  .dropdownTxt {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    visibility: visible;
    opacity: 1;
    color: #F39200;
  }

  .categoryDescr {
    width: 700px;
    margin-top: 0rem;
    padding: 30px 50px 30px 50px;
    color: #F39200;
    border: 5px solid #F39200;
    border-top: none;
    transform: scaleY(1);
  }

  div:hover~div.categoryDescr {
    border: 5px solid white;
    border-top: none;
  }

  /*principles*/
  .principles {
    padding-top: 300px;
    color: #000000;
  }

  .icon-principle {
    height: 200px;
    width: auto;
  }

  .principle-text {
    margin-top: 10rem;
    font-size: 50px;
    line-height: 70px;
  }

  /*carosello*/
  .mostLoved {
    margin-top: 30rem;
    padding-bottom: 300px;
  }

  .activitiycard {
    padding-left: 50px;
    padding-right: 50px;
  }

  .textabove {
    width: 84%;
    padding-left: 80px;
    padding-right: 0px;
    padding-bottom: 50px;
    bottom: 0px;
    right: 15px;
    left: 15px;
  }

  .textabove p {
    font-size: 38px;
  }

  .textabove h5 {
    font-size: 49px;
    padding-bottom: 10px;
  }

  /*footer*/
  footer {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  #footer h6 {
    font-size: 40px;
  }

  #footer p {
    font-size: 35px;
  }

  .newsletter {
    padding-left: 200px;
  }

  #icon-fb, #icon-ig, #icon-twitter {
    width: auto;
    height: 70px;
    margin-top: 30px;
    margin-right: 3rem;
  }

  #enter-email, #subscribe {
    font-size: 35px;
  }

  #enter-email {
    border: 4px solid white;
    border-radius: 0;
    padding: 30px;
    height: 100px;
    width: 600px;
  }

  #subscribe {
    font-weight: 500;
    border: 4px solid white;
    border-radius: 0;
    padding: 15px;
    margin-top: 0.2rem;
    margin-left: 2rem;
    height: 100px;
  }
}

/*MEGA SCHERMO CATEGORY----------------------------------------------------------------------------*/
@media (min-width: 3500px) {

  /*category left side*/
  .category-text {
    margin-top: 18rem;
    font-size: 60px;
  }

  .category-cards {
    margin-top: 21rem;
  }

  .category-title {
    font-size: 150px;
    line-height: 11rem;
    margin-bottom: 80px;
  }

  .category-choose {
    margin-top: 6rem;
  }

  .category-choose p {
    margin-bottom: 3rem;
  }

  .category-change-btn {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid #F39200;
  }

  /*category right side*/
  .margincards {
    margin-bottom: 100px;
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 300px;
  }

  .category-all {
    margin-bottom: 250px;
  }
}

/*MEGA SCHERMO SINGLE TOUR----------------------------------------------------------------------------*/
@media (min-width: 3500px) {

  /*single page left side*/
  .tour-cards {
    margin-top: 18rem;
  }

  .text-description {
    font-size: 40px;
    line-height: 60px;
    margin-top: 3rem;
  }

  .text-description h6 {
    font-size: 40px;
    line-height: 60px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .btn-detail {
    margin-top: 50px;
  }

  #tot-price {
    font-size: 50px;
    font-weight: 600;
  }

  .category-all {
    margin-left: 200px;
    margin-right: 200px;
  }

  .menucategory {
    border: solid 4px #F39200;
    padding: 5px 15px;
    width: 20%;
    font-size: 40px;
  }

  .menucategory:hover {
    border: solid 4px #F39200;
    background-color: #F39200;
    font-size: 40px;
  }

  .currentcategory {
    border: solid 4px #F39200;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
  }

  .tag-title {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .bordertop-film {
    border-top: 12px solid #F39200;
  }

  .bordertop {
    border-top: 12px solid #FFFFFF;
  }

  .margincards-singletour {
    margin-bottom: 50px;
  }

  /*single page left side*/
  div.text-container {
    border: solid 4px white;
    padding: 50px;
  }

  .text-container p {
    font-size: 40px;
  }

  .text-container a {
    font-size: 40px;
  }

  .text-container h5 {
    font-size: 50px;
  }

  .orangep {
    margin-bottom: 50px;
  }

  .hideContent {
    overflow: hidden;
    height: 43.7em;
    /* 20.4em*/
    /* 18.9em*/
  }

  .marginbottom-review {
    margin-bottom: 10rem;
  }

  .freccia {
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 450px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*MEGA SCHERMO ABOUT----------------------------------------------------------------------------*/
@media (min-width: 3500px) {

  /*about title*/
  .category-text-about {
    margin-top: 30rem;
  }

  .category-title-about {
    font-size: 150px;
    line-height: 12rem;
  }

  .category-subtitle-about {
    font-size: 80px;
  }


  .about-top-distance {
    margin-top: 150px;
  }

  .textabout-margin-subtitle {
    margin-top: 100px;
  }

  .about-top-distance-section {
    margin-top: 100px;
  }

  .about-distance-protocol {
    margin-right: 150px;
  }

  .carousel-margin-about {
    margin-top: 100px;
  }


  .descriptionabout {
    font-size: 30px;
    line-height: 3rem;
  }

  .margin-bottom-sources {
    margin-bottom: 25rem;
  }

  /*carousel*/
  /* .carousel-image-about {
    border: 6px solid #F39200;
  } */

  .rect-caption-about {
    padding: 5px 10px;
    border: 6px solid #F39200;
    width: 70%;
    height: 100%;
  }

  .arrowabout {
    font-size: 45px;
  }

  .about-rect-slideshow {
    padding-top: 40px;
  }

  ul {
    font-size: 40px;
  }
}
/*21,5 once iMac-----------------------------------------------*/
@media (min-width: 1920px) and (max-width: 1940px) {
  .illustration-numbers {
      position: absolute;
      left: -20%;
      z-index: 1;
      top: -30%;
  }
  .illustration-numbers2 {
    position: absolute;
    z-index: 1;
    left: 76%;
  }
}
